<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<!-- Number of ms to sleep for between web requests -->
		<add key="sleeptime" value="15000" />

		<!-- iPhone sizes to search for. Valid values are iPhone7 and iPhone7Plus -->
		<add key="iphone-size" value="iPhone7, iPhone7Plus"/>
    
		<!-- iPhone colours to search for. Valid values are JetBlack, Black, Silver, Gold, and RoseGold -->
		<add key="colour" value="JetBlack, Black, Silver, Gold, RoseGold"/>
		
		<!-- iPhone storage sizes to search for. Valid values are 32, 128 and 256 -->
		<add key="storage-size" value="32, 128, 256"/>

		<!-- UK Post Code to search around -->
		<add key="post-code" value="BA1 1AP"/>

		<!-- Set the Pushbullet Access Token to be alerted via PushBullet instead of via a Windows popup dialog.
			A token should look something like this: o.IvdOsRWVzJkd6Eh9kaQNmLKLA2qouusa -->
		<add key="pushbullet-token" value=""/>

  </appSettings>
</configuration>