<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<!-- Number of ms to sleep for between web requests. -->
		<add key="sleeptime" value="15000" />

		<add key="iphone-size" value="iPhone7, iPhone7Plus"/>
    <add key="colour" value="JetBlack, Black, Silver, Gold, RoseGold"/>
		<add key="storage-size" value="32, 128, 256"/>

    <add key="post-code" value="BA1 1AP"/>

		<add key="pushbullet-token" value="o.LvrOcDRKxSki2Kt4ksQLhFIQZ6jklzus"/>

  </appSettings>
</configuration>