<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="sleeptime" value="15000" />
		
		<!-- "7" or "7Plus" -->
		<add key="type" value="7"/>
		
		<!-- "Black", "Jet Black", etc., or "allblack" -->
		<add key="colour" value="Silver"/>

		<!-- "256GB", "128GB", etc, or "nosmall" -->
		<add key="model" value="nosmall"/>

		<!-- Semicolon separated stores list -->
		<add key="stores" value="Stratford - Stratford City; London - Regent Street; London - Covent Garden; London - White City; Kingston upon Thames - Bentall Centre; Barnet - Brent Cross; Bromley - Bromley"/>
	</appSettings>
</configuration>