<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<!-- Number of ms to sleep for between web requests. -->
		<add key="sleeptime" value="15000" />

		<add key="iphone-size" value="iphone7, iphone7Plus"/>
    <add key="colour" value="JetBlack, Black, Silver, Gold, RoseGold"/>
		<add key="storage-size" value="GB32, GB128, GB256"/>

    <add key="post-code" value="N1 9XW"/>

  </appSettings>
</configuration>