{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            //window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            //ga('create', 'UA-XXXXX-Y', 'auto');
            //ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <link rel="stylesheet" type="text/css" href="{% static 'main/common.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <h1>iStockCheck</h1>
				<div class="centered nav-links">
					<a href="{% url 'index' %}">Home</a>
					•
					<a href="{% url 'about' %}">About</a>
					•
					<a id="run-nav-link" href="{% url 'stockchecker' %}">Run</a>
				</div>

        <div class="page-content">
            {% block pagecontent %}
            {% endblock %}
        </div>
    </body>
</html>
